#contenido #intro{
    width: 70%;
    margin: 0 auto;
}

#contenido #empresas{
    padding-top: 3em;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5em;
}

#contenido #empresas img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

#contenido #empresas h3{
    margin-bottom: 2em;
    text-align: center;
}